@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/*Breakpoints*/
@media (max-width: 693px) {
  .template-title .title1 {
    font-size: 2.5em; }
  .template-title .title2 {
    font-size: 2.5em; }
  .template-text .title3 {
    font-size: 1.25em; } }

@media (max-width: 967px) {
  .banner-text {
    float: left;
    width: 100%; }
  .banner-img img {
    width: 100%;
    height: 100%; }
  .clase {
    float: left;
    width: 49%;
    height: 260px;
    border: solid 1px gray; }
  .content .button {
    margin: 8.5% 30% 8.5% 30%; }
  .content-hands h2 {
    font-size: 2.5em; }
  .content-hands p, a {
    font-size: 1em; }
  .content-poster a {
    font-size: 0.75em; }
  .subs-content {
    width: 50%;
    float: left; }
  .subs-content caja {
    width: 100%; } }

/*Configuracion*/
/*MIXINS*/
/*variables*/
/*Componentes*/
/*boxes*/
.button {
  margin: 4% 12% 8.5% 43.313%; }

.button a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #000000;
  border: solid 1px #000000;
  border-radius: 5px;
  padding: 17px 31px 17px 31px; }

.button a:hover {
  background-color: #000000;
  border: solid 1px #000000;
  color: #ffffff; }

/*subscribe*/
.btn-submit {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 3.75% 6.688% 3.75% 6.688%;
  width: 130px; }

.btn-submit:hover {
  background-color: #000000;
  border: solid 1px #000000;
  color: #ffffff; }

/*normalize*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/*Partials*/
/*helpers*/
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.wrap-padre {
  margin: 0 auto;
  width: 1600px; }

/*HEADER*/
.header {
  width: 100%;
  max-width: 100%;
  padding: 3.125%, 0, 52.563%, 0;
  position: relative; }

.header .quotes {
  padding-top: 4%;
  margin-left: 12%; }

.header .menu {
  position: absolute;
  top: 75px;
  right: 192px; }

.header h2 {
  font-family: 'Montserrat', sans-serif;
  float: left;
  background-color: #000000;
  padding: 1.313% 1.688%;
  margin-left: 12.313%; }

.header h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 3%;
  margin-right: 12.5%; }

.header a {
  color: #ffffff;
  text-decoration: none; }

.quotes a h2 {
  font-size: 1.875em; }

.menu a h4 {
  font-size: 1.25em; }

.menu a h4 {
  /*líneas*/
  border-top: solid 3px #ffffff;
  border-bottom: solid 3px #ffffff; }

.header h4 a:hover {
  color: #000000a8; }

.head img {
  width: 100%;
  max-width: 100%;
  background-image: url("../../img/teddy.png");
  background-size: cover; }

.header-text {
  /*color:$white;*/
  padding-top: 15.25%;
  text-align: center;
  padding-right: 8.31%;
  max-width: 735px;
  margin-left: auto; }

.header-text h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 12.75em;
  font-weight: lighter;
  margin: 0; }

.header-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  margin: 0;
  color: black; }

/*.indicadores{
    font-size: 9rem;
    text-align: center;
    margin-top: 5.625%;
    padding-bottom: 5.812%;
    margin-bottom: 4.437%;
}

.indicadores .black{
    color: $black;
}.indicadores .white{
    color: $white;
}*/
.template {
  width: 100%;
  max-width: 100%;
  padding-top: 5.438%; }

.title1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 3.125em;
  padding: 0% 34.188% 0% 34.125%; }

.title2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3.125em;
  padding: 0% 33.063% 0% 32.813%;
  margin-bottom: 2.938%; }

.title3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.25;
  padding: 0% 29.75% 0% 29.75%;
  margin-bottom: 2.75%; }

hr {
  height: 2px;
  width: 5%;
  background-color: #000000;
  margin: 0% 47.313% 3.75% 47.438%; }

.text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.25em;
  padding: 0% 18.75% 0% 20%;
  margin-bottom: 2.75%;
  color: #000000; }

.banner {
  width: 100%;
  height: 652px;
  max-width: 100%;
  margin-top: 6.188%;
  background-color: #ffeae2; }

.banner-text {
  width: 50%;
  height: 100%;
  float: left;
  display: block; }

.banner-text p {
  color: #000000;
  font-size: 2.25em;
  padding: 18.563% 25.563% 6.125% 12.25%;
  text-align: start; }

.text2 {
  font-weight: bold;
  font-size: 2.25em;
  text-align: start;
  padding: 0, 25.563%, 0.438%, 12%;
  font-family: 'Montserrat', sans-serif; }

.banner-text .text3 {
  font-size: 2.25em;
  text-align: start;
  padding: 0, 25.563%, 0.438%, 12.25%;
  font-family: 'Raleway', sans-serif; }

.banner-img {
  display: block; }

.banner-img img {
  float: right;
  width: 50%;
  height: 652px; }

/*indicadores*/
.title-reasons {
  font-family: 'Raleway', sans-serif;
  font-size: 3.7em;
  padding: 0 0 0 5.25%; }

.title-reasons hr {
  height: 2px;
  width: 5%;
  background-color: #000000;
  margin: 2.5% 88.438% 5.813% 5.25%; }

.content {
  padding: 0 5.25% 3.625% 5.25%; }

.content h2 {
  font-size: 3.75rem;
  margin-top: 0; }

.content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.875em; }

.fila1, .fila2 p {
  padding: 0 22.813% 2.688% 6.100%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #000000; }

.fila1 {
  float: left;
  padding-left: 6.25%;
  width: 43.75%;
  height: 290px;
  margin-left: 70px; }

.fila2 {
  float: right;
  width: 43.75%;
  padding-right: 6.25%;
  height: 290px;
  margin-left: 70px; }

.clase p {
  color: #000000; }

.content .p-1 {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC; }

.content .p-2 {
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC; }

.content .p-3 {
  padding-bottom: 2.5%;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding-left: 12.642%; }

.content .p-3 p {
  margin: 0; }

.content .p-4 {
  border-bottom: 1px solid #DCDCDC; }

.content-hands {
  background-image: url("../../img/hands1.png");
  background-size: cover; }

.hands-text h2, p, a {
  color: #ffffff; }

.hands-text h2 {
  font-size: 1.875em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 12.5%; }

.hands-text p {
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 10.375%;
  margin-bottom: 0; }

.bg-gray {
  background-color: #f3f4f5; }

.poster-title h2 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.75em;
  margin-bottom: 1.75%; }

.poster-title hr {
  height: 2px;
  width: 5%;
  background-color: #000000;
  margin: 2.5% 88.438% 5.813% 5.25%; }

.p-img1 {
  background-image: url("../../img/suit.png");
  background-size: cover;
  float: left;
  width: 43%;
  height: 757px;
  margin-right: 6%;
  padding-top: 54px;
  margin-bottom: 6.42%;
  display: block; }

.p-img1:hover {
  box-shadow: rgba(0, 0, 0, 0.466); }
  .p-img1:hover .buy {
    display: inline; }
  .p-img1:hover .share {
    display: inline; }
  .p-img1:hover .share1 {
    display: inline; }

.buy {
  padding-left: 6.71%; }

.share {
  padding-left: 50%; }

.p-img1 h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  text-align: center;
  padding-top: 24.42%;
  margin-bottom: 1.42%; }

a {
  display: none; }

.p-img1 .buy-share1 {
  font-size: 1.25em;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 0 0 6% 6%; }

.p-img1 .buy-share1 a {
  text-decoration: none; }

.buy-share1 {
  padding-top: 20.42%;
  padding-bottom: 11%; }

.buy-share1 .share1 {
  float: right;
  padding-right: 6%; }

.p-img2 {
  float: right;
  width: 50%;
  height: 367px;
  margin-bottom: 13.071%;
  background-image: url("../../img/stone.png");
  background-size: cover; }

.title-stone {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.25em;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 4%;
  padding-top: 14%; }

.p-stone {
  color: #000000;
  font-size: 1.25em;
  padding-left: 4%;
  padding-top: 5%;
  margin-bottom: 0;
  padding-bottom: 10%; }

.p-img2:hover {
  box-shadow: rgba(0, 0, 0, 0.466); }
  .p-img2:hover .buy {
    display: inline; }
  .p-img2:hover .share {
    display: inline; }
  .p-img2:hover .share2 {
    display: inline; }

.buy-share2 {
  font-size: 1.25em;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 0 0 4.300% 6%; }

.p-img2 .buy-share2 a {
  text-decoration: none; }

.buy-share2 .share2 {
  float: right;
  padding-right: 6%; }

/*traté de eliminar las imágenes y volverlas a poner y siguen igual con un hover
extraño que les borré, deberían funcionar como las imagenes anteriores
me borra el botón y parte del bloque de Subscribe*/
.p-img3 {
  float: right;
  background-image: url("../../img/coffee.png");
  background-size: cover; }

.work {
  font-size: 1.875em;
  text-align: center;
  margin-bottom: 180px; }

.p-img3:hover {
  box-shadow: rgba(0, 0, 0, 0.466); }
  .p-img3:hover .buy {
    display: inline; }
  .p-img3:hover .share {
    display: inline; }
  .p-img3:hover .share3 {
    display: inline; }
  .p-img3:hover .p-img3 .buy-share3 {
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: #000000; }
  .p-img3:hover .p-img3 .buy-share3 a {
    text-decoration: none; }
  .p-img3:hover .p-img4 {
    background-image: url("../../img/guy2.png");
    background-size: cover;
    float: left;
    width: 44%; }
  .p-img3:hover .p-img4:hover {
    box-shadow: rgba(0, 0, 0, 0.466); }
  .p-img3:hover .golden {
    padding-top: 8.30%;
    padding-bottom: 49.3%; }
    .p-img3:hover .golden .h3 {
      font-size: 1.25em;
      color: #ffffff;
      text-align: center;
      margin-bottom: 0; }
    .p-img3:hover .golden .h2 {
      font-size: 1.875em;
      color: #ffffff;
      text-align: center;
      margin-top: 0; }
  .p-img3:hover .p-img4 .buy-share4 {
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    padding: 0 0 4.300% 6%; }
  .p-img3:hover .p-img4 .buy-share4 a {
    text-decoration: none; }

.subs-content {
  font-family: 'Raleway', sans-serif;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 5%; }

.caja {
  float: left;
  width: 25%;
  margin: 0; }

.box {
  list-style: none; }

.box ul {
  margin-top: 0; }

.box li {
  font-size: 1em;
  padding-bottom: 7.188%;
  color: #000000; }

.box a {
  text-decoration: none;
  color: #000000;
  font-weight: bold; }

.subs-content h4 {
  padding-top: 8.64%;
  padding-bottom: 4%;
  font-family: 'Montserrat', sans-serif; }

.box {
  color: #000000;
  font-size: 1em;
  margin-bottom: 3.438%;
  padding-right: 40.38%;
  line-height: 255%; }

.caja p {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3.438%;
  padding-right: 40.38%;
  line-height: 255%; }

.subscribe form {
  padding-right: 20.38%;
  margin-bottom: 2.063%; }

.text-submit {
  background-color: #f3f4f5;
  color: #c9c7c2;
  font-weight: bold;
  border: none;
  width: 340px;
  height: 39px;
  margin-bottom: 5.125%; }

.footer {
  background-color: #f3f4f5;
  padding-top: 2.375%;
  padding-bottom: 2.375%;
  padding-right: 5%;
  padding-left: 5%; }

.footer p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #000000;
  float: left;
  width: 50%; }

.footer-list {
  float: right;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.footer-list li {
  list-style: none;
  text-decoration: none;
  float: left;
  margin-left: 7%; }
