@media (max-width: 693px){
    .template-title .title1{
        font-size:2.5em;
    } .template-title .title2{
        font-size:2.5em;
    } .template-text .title3{
        font-size:1.25em;
    }
}