/*boxes*/

.button{
    margin: 4% 12% 8.5% 43.313%;
} .button a{
    @include fontfamily2;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:$black;
    border: solid 1px $black;
    border-radius: 5px;
    padding: 17px 31px 17px 31px;
} .button a:hover{
    background-color: $black;
    border: solid 1px $black;
    color: $white;
}

/*subscribe*/

.btn-submit{
    @include fontfamily2;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: solid 1px $black;
    border-radius: 5px;
    background-color:$white;
    padding: 3.75% 6.688% 3.75% 6.688%;
    width: 130px;
}  .btn-submit:hover{
    background-color: $black;
    border: solid 1px $black;
    color: $white;
}