.title-reasons{
    @include fontfamily1;
    font-size: 3.7em;
    padding: 0 0 0 5.25%;
}

.title-reasons hr {
    height: 2px;
    width: 5%;
    background-color: $black;
    margin: 2.5% 88.438% 5.813% 5.25%;
}


.content{
    padding: 0 5.25% 3.625% 5.25%;
} .content h2{
    font-size: 3.75rem; 
    margin-top: 0;
} .content h3{
    @include fontfamily1;
    font-size: 1.875em;
    padding:2.688% 8.813% 2.688% 6.100%;
} .fila1, .fila2 p{
    padding:0 22.813% 2.688% 6.100%;
    @include fontfamily1;
    font-weight: bold;
    color:$black;
}

.fila1{
    float: left;
    padding-left: 5.21%;
    width: 40%;
    margin-bottom: 3.35%;
}

.fila2{
    float: right;
    width: 40%;
    margin-bottom: 4.35%;
}


.clase p{
    color:$black;
}

.content .p-1{
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
} .content .p-2{
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    padding-top: 0.230rem;
} .content .p-3{
    padding-bottom: 2.5%;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    padding-left: 12.642%
} .content .p-3 p{
    margin: 0;
}.content .p-4{
    border-bottom: 1px solid #DCDCDC;
    padding-left: 17%;
    padding-bottom: 3.9%;
}