.content-hands{
    background-image: url("../../img/hands1.png");
    background-size: cover;
}

.hands-text h2, p, a{
    color:$white;
} .hands-text h2{
    font-size: 1.875em;
    @include fontfamily2;
    text-align:center;
    padding-top: 12.5%;
} .hands-text p{
    font-size: 1.25em;
    @include fontfamily1;
    text-align:center;
    padding-bottom: 10.375%;
    margin-bottom: 0;
}