/*HEADER*/

.header{
    width:100%;
    max-width: 100%;
    padding: 3.125%, 0, 52.563%, 0;
    position:relative;
} 

.header .quotes{
    padding-top:4%;
    margin-left:12%;
}.header .menu{
    position: absolute;
    top: 75px;
    right: 192px;
}

.header h2{
    @include fontfamily2;
    float: left;
    background-color:$black;
    padding: 1.313% 1.688%;
    margin-left: 12.313%;
} .header h4{
    @include fontfamily2;
    margin-top: 3%;
    margin-right: 12.5%;
} .header a{
    color:$white;
    text-decoration: none;
} .quotes a h2{
    font-size: 1.875em;
} .menu a h4{
    font-size: 1.25em;
} .menu a h4{
    /*líneas*/
    border-top: solid 3px $white;
    border-bottom: solid 3px $white;
} .header h4 a:hover{
    color:$menu-hover;
}

.head img{
    width:100%;
    max-width: 100%;
    background-image: url("../../img/teddy.png");
    background-size: cover;
}
.header-text{
    /*color:$white;*/
    padding-top: 15.25%;
    text-align: center;
    padding-right: 8.31%;
    max-width: 735px;
    margin-left: auto;
}
.header-text h1{
    @include fontfamily1;
    font-size:12.75em;
    font-weight: lighter;
    margin: 0;
} .header-text p{
    @include fontfamily2;
    font-size:4em;
    margin: 0;
    color:black;
}