.content-poster{
    background-color: $footer;
}

.poster-title h2{
    color:$black;
    @include fontfamily2;
    font-size: 3.75em;
    margin-bottom:1.75%;
} .poster-title hr {
    height: 2px;
    width: 5%;
    background-color: $black;
    margin: 2.5% 88.438% 5.813% 5.25%;
}

.p-img1{
    background-image: url(../../img/suit.png);
    background-size: cover;
    float: left;
    width: 559px; height:757px;
    margin-right: 6%; padding-top: 54px;
    display:block;
} .p-img1 h2{
    color:$white;
    font-family: Arial, Helvetica, sans-serif;

} .p-img1:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

.p-img1 .buy-share1 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$white;
    padding: 0 0 6% 6%;
} .p-img1 .buy-share1 a{
    text-decoration: none;
} .buy-share1 .share1{
    float: right;
    padding-right: 6%;
}

.p-img2{
    float: left;
    width: 53%;
} .p-img2{
    background-image: url("../../img/stone.png");
    background-size: cover;
    margin-bottom: 3.925%; 
    width: 53%; height: 367px;
    font-family: 'Times New Roman', Times, serif;
} .p-img2:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

.p-img2 .buy-share2 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$white;
    padding: 0 0 4.300% 6%;
} .p-img2 .buy-share2 a{
    text-decoration: none;
} .buy-share2 .share2{
    float: right;
    padding-right: 6%;
}

