.bg-gray{
    background-color: $footer;
}

.poster-title h2{
    color:$black;
    @include fontfamily2;
    font-size: 3.75em;
    margin-bottom:1.75%;
} 

.poster-title hr {
    height: 2px;
    width: 5%;
    background-color: $black;
    margin: 2.5% 88.438% 5.813% 5.25%;
}


.p-img1{
    background-image: url("../../img/suit.png");
    background-size: cover;
    float: left;
    width: 43%; height:757px;
    margin-right: 6%; padding-top: 54px;
    margin-bottom: 6.42%;
    display:block;

} 

.p-img1:hover{
    box-shadow:rgba(0, 0, 0, 0.466);
    .buy{
        display: inline;
    }.share{
        display: inline;
    }.share1{
        display: inline;
    }
}

.buy{
    padding-left: 6.71%;
} .share{
    padding-left: 50%;
}

.p-img1 h2{
    color:$white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
    padding-top: 24.42%; margin-bottom: 1.42%;
} 

.p-img1 a{
    display: none;
}

.p-img1 .buy-share1 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$white;
    padding: 0 0 6% 6%;
} 
.p-img1 .buy-share1 a{
    text-decoration: none;
} 
.buy-share1{
    padding-top: 20.42%;
    padding-bottom: 11%;
}

.buy-share1 .share1{
    float: right;
    padding-right: 6%;
}





.p-img2{
    float: right;
    width: 50%; height: 367px;
    margin-bottom: 13.071%;
    background-image: url("../../img/stone.png");
    background-size: cover;
} 
.title-stone{
    color: $black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25em;
    margin-bottom: 0; margin-top: 0;
    padding-left: 4%; padding-top: 14%;
} 
.p-stone{
    color: $black;
    font-size: 1.25em;
    padding-left: 4%; padding-top: 5%;
    margin-bottom: 0; padding-bottom: 10%;
}

.p-img2:hover{
    box-shadow: rgba(0, 0, 0, 0.466);
    .buy{
        display: inline;
    }.share{
        display: inline;
    }.share2{
        display: inline;
    }
}
.buy-share2 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$white;
    padding: 0 0 4.300% 6%;
} .p-img2 .buy-share2 a{
    text-decoration: none;
} .buy-share2 .share2{
    float: right;
    padding-right: 6%;
}

.p-img3{
    float: right;
    background-image: url("../../img/coffee.png");
    background-size: cover;
} 
.work{
    font-size: 1.875em;
    text-align: center;
    margin-bottom: 180px;
}

.p-img3:hover{
    box-shadow: rgba(0, 0, 0, 0.466);
    .buy{
        display: inline;
    }.share{
        display: inline;
    }.share3{
        display: inline;
    }

.p-img3 .buy-share3 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$black;
} .p-img3 .buy-share3 a{
    text-decoration: none;
}


.p-img4{
    background-image: url("../../img/guy2.png");
    background-size: cover;
    float: left;
    width: 44%;
} .p-img4:hover{
    box-shadow: rgba(0, 0, 0, 0.466);
} 

.golden{
    padding-top: 8.30%;
    padding-bottom: 49.3%;
    .h3{
        font-size: 1.25em;
        color: $white;
        text-align: center;
        margin-bottom:0;
    }
    .h2{
        font-size: 1.875em;
        color: $white;
        text-align: center;
        margin-top:0;
    }
}

.p-img4 .buy-share4 {
    font-size: 1.25em;
    letter-spacing: 2px;
    @include fontfamily2;
    color:$white;
    padding: 0 0 4.300% 6%;
} .p-img4 .buy-share4 a{
    text-decoration: none;
}
}