.subs-content{
    @include fontfamily1;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 5%;
}

.caja{
    float:left;
    width:25%;
    margin:0;
}

.box{
    list-style: none;
}
.box ul{
    margin-top: 0;
}

.box li{
    font-size: 1em;
    padding-bottom: 7.188%
}

.box a{
    text-decoration: none;
    color: $black;
    font-weight: bold;
}

.subs-content h4{
    padding-top: 8.64%;
    padding-bottom: 4%;
    @include fontfamily2;
}

.box{
    color: $black;
    font-size:1em;
    margin-bottom: 3.438%;
    padding-right: 40.375%;
    line-height: 255%;
}

.caja p{
    color: $black;
    font-size:1em;
    font-weight: bold;
    margin-bottom: 3.438%;
    padding-right: 40.375%;
    line-height: 255%;
}

.subscribe form{
    padding-right: 20.375%;
    margin-bottom: 2.063%;
} .text-submit{
    background-color: $footer;
    color: $inputext;
    font-weight: bold;
    border: none;
    width: 340px; height: 39px;
    margin-bottom: 5.125%;
}
